*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


#Home {
    width: 100%;
    height: 100vh;
    background-image: url(events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

.HomeOverlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(214, 46, 51, 0.6);
}
#leftMenu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
#leftMenu a{
    text-decoration: none;
    color:#fff;
    margin-left: 10px;
    padding: 10px;
    font-size:1.5rem;
    display:inline-block;
}
#leftMenu a:hover{
    color: #d62e3366;
}
#leftMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#home-content {
    padding: 16px;
    transition: margin-left .5s;
   
}
#home-content h2 {
    font-size: calc(4rem + 0.5vw);
    margin-top: 12rem;
}
#home-content h2 ,p{
    text-align: center;
}

/* =======================================start style slide dowen */
#sliderDown {
    margin: 100px auto;
    width: 50%;
    height: fit-content;
}
#sliderDown div {
    padding: 10px;
    background-color: #ccc;
    display: none;
    
}
#sliderDown .first {
    display: block;
}
#sliderDown h3 {
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51, 0.6);
    cursor: pointer;
    
    color: white;
}


/* =================================================start  style section count*/
#count {
    background-image: url(invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
}
.count-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
    color: white;
}
.container {
    padding: 100px 0px;
}
.tim {
    padding: 50px;
    border: 1px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}
/*===============================================start style section contact */
#contact-us .head h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact-us .head p {
    color: #777;
    font-weight: 300;
    font-size: 16px;
}
#contact-us .con-info h3 {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#contact-us .red {
    color: #D62E33 !important;
}
#contact-us .con-info .social-list{
    margin-bottom: 25px;
}
#contact-us .con-info .social-list i {
    margin-right: 10px;
    border: 1px solid #999;
  
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    color: #999;
}
#contact-us .con-info .social-list i:hover {
    color: #fff;
    background-color: #D62E33;
    border: 1px solid #D62E33;
}
#contact-us form input,
#contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}
#contact-us form textarea {
    height: 200px;
    resize: vertical;
}
#chars {
    font-size: 20px;
    color: #D62E33;
}
#contact-us form button {
    background-color: #D62E33;
    color: #fff;
    padding: 10px 20px;
    display: block;
     margin-top: 20px;
    border-radius: 0;
    text-transform: uppercase;
}

/* media query */
